.content-number-text {
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
}
img {
    width: 100%;
    display: block;
    height: 100%;
}
.cl-oran {
    color: rgba(245,125,15,1) !important;
}
.cl-green {
    color: rgba(0,150,136,1) !important;
}
.cl-white {
    color: #fff !important;
}
.cl-blue{
    color: rgba(3,169,244,1);
}
.cl-red {
    color: red;
}
.cl-tt-h4 {
    color: #FF6D00
;
}
.cl-oran-dam {
    color: rgb(255, 87, 34);
}
.bgr-oran {
    background: rgba(245,125,15,1) !important;
    border: none !important;
}
.fw-400 {
    font-weight: bold;
}
.title--introduce {
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    font-size: 34px;
    color: #1c9e1c;
    font-weight: bold;
}

header {
    height: 100vh;
    display: block;
    background-image: url("imgs/top_view.jpg");
    background-color: rgba(255,255,255,0);
    background-origin: content-box; 
    background-size: cover;
    background-attachment: scroll;
    background-position: top left;
    background-repeat: no-repeat;
}
.form-top {
    padding: 30px;
    background: rgba(23,73,110,0.71);
}

.text-heading {
    background-color: rgba(255, 194, 31, 0.8);
    padding: 20px;
    border-radius: 6px;
}

.lh-main-01{
    line-height: 35px;
}

ol {
    list-style-type: none;
}

.bgr-blue {
    background: #3D9BE9 !important;
}

.bgr-red {
    background: rgba(229,57,53,1) !important;
}
.bd-rdus-10px {
    border-radius: 5px;
    padding: 10px;
}
.bd-rdus-18px {
    padding: 10px;
}
.section-main-01 {
    border: 1px dashed #3D9BE9;
    border-radius: 8px;
}

.container-copy {
    padding-left: 50px;
    padding-right: 50px;
}

.img-pen {
    list-style: none;
}
ul {
    padding: 0;
}

.section-main-03 {
    background-color: rgba(0,188,212,0.1);
}

.cl-yellow {
    color: rgba(255,215,64,1);
}

.download-now{
    background-color:rgba(244,67,54,1); 
    border-radius: 7px;
}
.item-download {
    text-align: center;
    padding: 15px 20px;
   
}
.download-pay {
    background-color: rgba(48,63,159,1);
    padding:5px 30px;
}
.container-copy-2 {
    padding-left: 120px;
    padding-right: 120px;
}
.container-slider {
    padding-left: 200px;
    padding-right: 200px;
}
@media only screen and (max-width: 768px) {
    header {
        height: 100%;
    }
    .container-copy-2 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .container-slider {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    
}
.pd-0 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.section-main-06 {
    background-color: rgba(245,245,245,1);
}

.section-main-08 {
    background-color: rgba(63,164,181,0.23);
}
.form-dangky {
    background-color:rgba(255,255,255,1);
    padding: 20px ;
    border: 2px solid rgba(233,30,99,1);
 
}
.pay-pay {
    background-color:rgba(255,255,255,1);
    padding: 20px;
    border:2px dashed rgba(0,0,0,1);
}
.fa-check-square {
    color: rgba(233,30,99,1);
}
.fa-cannabis {
    color: green;
}
.fa-ethereum {
    color:mediumvioletred;
}
.section-main-11 {
    background-image: url("imgs/sky-min.png");
    background-size: cover;

}
.bgr-ft {
    background: #1b2e3e;
}
a {
    text-decoration: none;
}

/* fixed */

.call-hotline {
    position: fixed;
    bottom: 40px;
    left: 20px;
}

.fixed-hotline-call {
    background: rgba(244,67,54,1)!important;
    padding: 10px 15px !important;
    border-radius: 15px;
}


/* fix-form */

.form-contact-fixed {
    position: fixed;
    bottom: 40px;
    right: 25px;
}

.fixed-contact {
    background: rgba(244,67,54,1) !important;
    padding: 10px 15px !important;
    border-radius: 15px;
}

.hover-point:hover{
    cursor: pointer;
}
.download-now:hover{
    cursor: pointer;
}
input:hover {
    cursor: pointer;
}

@media only screen and (max-width: 534px) {
.container-copy {
    padding-left: 10px;
    padding-right: 10px;
}
.display-respo-none {
    display: none;
}
.container-slider {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
}

.bgr-cl-01 {
    background-color: #E3F2FD;
}

.bgr-cl-06 {
    background-color: #BBDEFB
    ;
}
.fa-caret-square-right {
    color:  rgba(229,57,53,1);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: red !important;
}
.carousel-control-next-icon {
    background-color: red !important;
}
.carousel-control-prev-icon {
    background-color: red !important;
}

table, th, td {
    border: 1px solid #000 ;
    border-collapse: collapse;
    box-sizing: border-box;
}

.pd-30 {
    padding: 30px;
}
.pd-10 {
    padding: 15px;
}

.bgr-table {
    background-color: #3D5AFE;
}

.cl-red1 {
    color: #E53935;
}

.none-ft {
    list-style: none;
}
.fa-star{
    color: rgba(233,30,99,1);
}
.fa-fighter-jet {
    color: rgba(233,30,99,1);
}